.label {
	position: relative;
	padding: 8px 12px;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	display: flex;
	border-top: 1px solid #ECEFF3;
	width: 100%;
	justify-content: space-between;
	align-items: center;
}

.selected,
.label:hover {
	background-color: #E6F9F9;
}

.option {
	padding: 8px 24px;
}
